
img {
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right.carousel-control, .left.carousel-control {
  opacity: 0;
  filter:alpha(opacity=0);
}

.custom-btn {
  font-family: "Arial, Helvetica, sans-serif";
  font-style: normal;
  font-size: 25px ! important; 
}
